body{
    background-color: #565972;
}

@font-face {
    font-family: 'M-PLUS-Rounded-1c';
    src: url("MPLUSRounded1c-Black.ttf");
}

h1{
    color: white;
    text-align: center;
    margin: 0;
    
}

.Container{
    display: flex;
    justify-content: center;
}

.output{
    display: flex;
    justify-content: center;
}

.outputContent{
    background-color: white;
    /* margin-left: 10px; */
    height: 30px;
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px 0 0 2px;

    color: #121232;
}

.borderRadiusText{
    display: flex;
    color: white;
    margin: 0px;
    margin-top: 20px;
    margin-right: 15px;
    align-items: center;
}

.copyButton{
    margin-top: 20px;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 0px;

    
    background-color: #DE069C;
    border: none;
    color: white;
    transition-property: background-color ;
    transition-duration: 0.20s;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-family: M-PLUS-Rounded-1c;
}

.copyButton:hover{
    background-color: #3023AE;
}

.copyButton:active{
    background-color: #4280dd;
}

p{
    color: black;
    text-align: center;
    font-size: 25px;
}


.Box{
    background: 
    linear-gradient(to bottom right, #3d56d2, transparent),
    linear-gradient(to top right, #4280dd, transparent),
    linear-gradient(to top left, #4995e3, transparent),
    linear-gradient(to bottom left, #50a7e8, transparent);
    width: 300px;
    height: 300px;
    align-content: center;
    /* border-radius: 10px 100px 200px 500px; */
    position: relative;
}

.Inputs{
    display: flex;
    justify-content: center;
    border: solid black;
}

.inputBox{
    width: 70px;
    /* height: 5px; */
    font-size: 20px;
}

#top-left {
    position: absolute;
    top: -30px;
    left: -78px;
  }
  
  #top-right {
    position: absolute;
    top: -30px;
    right: -78px;
  }
  
  #bottom-left {
    position: absolute;
    bottom: -30px;
    left: -78px;
  }
  
  #bottom-right {
    position: absolute;
    bottom: -30px;
    right: -78px;
  }

  a{
    color: white;
    padding: 5px 10px;
    font-size: 25px;
}

.challengeLink{
    display: block;
    text-align: center;
    font-family: M-PLUS-Rounded-1c;
}